:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #d4e5fa;
  --secondary-color: #30335a;
  --black-color: #030303;
  --lightGray-color: #d6d6d6;
  --gray-color: #525d6b;
  --brown-color: #3a2c3d;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
